{% extends 'store/layouts/main.html' %}

{% block content %}

<div class="py-3 bg-dark">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}"> Home /</a>
        <a class="text-white" href="{% url 'checkout' %}"> Checkout </a>
    </div>
</div>

<div class="container mt-3">
    <form action="{% url 'placeorder' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h6>Details</h6>
                        <hr>
                        <div class="row checkoutform">
                            <div class="col-md-6">
                                <label>First Name</label>
                                <input type="text" required class="form-control" name="fname" placeholder="Enter first name">   
                            </div>
                            <div class="col-md-6">
                                <label>Last Name</label>
                                <input type="text" required class="form-control" name="lname" placeholder="Enter last name">   
                            </div>  
                            <div class="col-md-6 mt-2">
                                <label>Email</label>
                                <input type="email" required class="form-control" name="email" placeholder="Enter email">   
                            </div>     
                            <div class="col-md-6 mt-2">
                                <label>Phone</label>
                                <input type="text" required class="form-control" name="phone" placeholder="Enter phone">   
                            </div>     
                            <div class="col-md-12 mt-2">
                                <label>Address</label>
                                <textarea required class="form-control" name="address" placeholder="Enter address"></textarea> 
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h6>Summary</h6>
                        <hr>
                        {% if  cartitems %}
                            <table class="table table-stripeds table-bordereds">
                                <thead>
                                    <tr>
                                        <th> Product </th>
                                        <th> Qty </th>
                                        <th> Price </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cartitems %}
                                        <tr>
                                            <td>
                                                <img src="{{item.product.product_image.url}}" class="me-2" height="50px" width="50px" alt="Image here">
                                                 {{ item.product.name }} 
                                            </td>
                                            <td> {{ item.product_qty }} </td>
                                            <td> {{ item.product.selling_price | stringformat:'.2f'}} </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h6 class="fw-bold"> Total 
                                <span class="float-end"> USD {{ total_price | stringformat:'.2f' }} </span>
                            </h6>
                            <input type="hidden" value="COD" name="payment_mode">
                            <div class="mt-3">
                                <button type="submit" class="btn btn-success w-100">COD</button>
                                <div id="paypal-button-container" class="mt-3"></div>
                            </div>
                        {% else %}
                            <h6>Your cart is empty</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

{% endblock content %}

{% block scripts %}

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    <script src="https://www.paypal.com/sdk/js?client-id=AZbZYwROx-Z8YkRL329SNmhc1CBgcz280b6RsZqUNsWTRx4asnPuo3SZZSee5mWVrwKhNUew9TIhMK1k&currency=USD"></script> 
    <script>
        paypal.Buttons({
          onClick: (data, actions) => {
            // My validation
            var fname = $("[name='fname']").val();
            var lname = $("[name='lname']").val();
            var email = $("[name='email']").val();
            var phone = $("[name='phone']").val();
            var address = $("[name='address']").val();
            var token = $("[name='csrfmiddlewaretoken']").val();

            if (fname == "" || lname == "" || email == "" || phone == "" || address == "") {
                swal("Alert!", "All fields are mandatory!", "error");
                return false;
            }
            else {
                return true;
            }
          },
          // Sets up the transaction when a payment button is clicked
          createOrder: (data, actions) => {
            return actions.order.create({
              purchase_units: [{
                amount: {
                  value: '{{ total_price | stringformat:'d' }}' // Can also reference a variable or function
                }
              }]
            });
          },
          // Finalize the transaction after payer approval
          onApprove: (data, actions) => {
            return actions.order.capture().then(function(orderData) {
              // Successful capture! For dev/demo purposes:
              //console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
              //aler(orderData.id);
              //const transaction = orderData.purchase_units[0].payments.captures[0];
              //alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);

                var fname = $("[name='fname']").val();
                var lname = $("[name='lname']").val();
                var email = $("[name='email']").val();
                var phone = $("[name='phone']").val();
                var address = $("[name='address']").val();
                var token = $("[name='csrfmiddlewaretoken']").val();

                data = {
                    "fname": fname,
                    "lname": lname,
                    "email": email,
                    "phone": phone,
                    "address": address,
                    "payment_mode": "Paid by PayPal",
                    "payment_id": orderData.id,
                    csrfmiddlewaretoken: token
                }
                $.ajax({
                    method: "POST",
                    url: "/place-order",
                    data: data,
                    success: function (responsec) {
                        swal("Congratulations!", responsec.status, "success").then((value) => {
                            window.location.href = '/my-orders'
                        });
                    }
                });

              // When ready to go live, remove the alert and show a success message within this page. For example:
              // const element = document.getElementById('paypal-button-container');
              // element.innerHTML = '<h3>Thank you for your payment!</h3>';
              // Or go to another URL:  actions.redirect('thank_you.html');
            });
          }
        }).render('#paypal-button-container');
      </script>
{% endblock scripts %}